@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Asul&family=Rancho&display=swap");
:root {
  --primary-color: #fff;
}

html, body {
  margin: 0;
  width: 100%;
  font-family: 'Rancho', cursive;
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.fullWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#clock {
  display: -ms-grid;
  display: grid;
  color: var(--primary-color);
  font-size: 9vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.greetings {
  color: var(--primary-color);
  text-align: center;
  font-size: 3vw;
}

.greetings #form1 {
  display: none;
}

.greetings #form1 .button {
  display: none;
}

#close1 {
  font-weight: lighter;
}

#close1:hover {
  color: #b92106;
}

.icon1 i {
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0;
}

.icon1 i:hover {
  opacity: 1;
}

button {
  background: transparent;
  border: none;
}

.content span i {
  opacity: 0;
  color: #b92106;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: lighter;
}

.content span i:hover {
  opacity: 1;
  cursor: pointer;
}

h2 {
  color: var(--primary-color);
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form input {
  background: transparent;
  font-size: 2rem;
  color: var(--primary-color);
  text-align: center;
  font-family: inherit;
}

form .no-outline {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 2px solid var(--primary-color);
  background-color: transparent;
}

form .button input {
  border: none;
  cursor: pointer;
}

form .button input:hover {
  color: #fff;
}

.no-outline:focus {
  outline: none;
}

#btnFocus {
  display: none;
}

form .fa-times-circle {
  font-size: 1.5rem;
  cursor: pointer;
}

/* today content styling  */
/* today content styling  */
/* today content styling  */
.today .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.today .content h2 {
  font-size: 1.5rem;
}

/* qoute style  */
.qoutes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.qoutes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 600px;
  height: 30%;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background-color: rgba(60, 60, 60, 0.5);
}

.qoutes h1 {
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  font-size: 1rem;
  color: var(--primary-color);
}

.author {
  color: var(--secondary-color);
  font-size: 20px;
  font-size: 1rem;
  color: var(--primary-color);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.buttons .next {
  font-family: 'Rancho', cursive;
}

.buttons button {
  cursor: pointer;
  border: none;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 700;
}

.buttons button:hover {
  color: tomato;
}

button:focus {
  outline: none;
}

.fa-twitter {
  margin-right: 5px;
}

/* weather style */
.container {
  position: absolute;
  width: 300px;
  background: transparent;
  right: 1px;
}

.notification {
  background-color: #f8d7da;
  display: none;
}

.notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container {
  width: 300px;
  height: 260px;
  background: transparent;
}

.weather-icon {
  width: 300px;
  height: 128px;
}

.weather-icon img {
  display: block;
  margin: 0 auto;
}

.temperature-value {
  width: 300px;
  height: 60px;
}

.temperature-value p {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

.temperature-value span {
  color: #fff;
  font-size: 0.5em;
}

.temperature-description p {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 1.2em;
}

.location p {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 0.8em;
}

/* todo style  */
.wrapper {
  position: absolute;
  right: -500px;
  top: 25%;
  background-color: rgba(60, 60, 60, 0.5);
  max-width: 200px;
  width: 100%;
  margin: 120px auto;
  padding: 25px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.wrapper header {
  font-size: 10px;
  text-align: center;
  font-weight: 600;
}

.wrapper #close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.wrapper #close i {
  color: #D4AF37;
}

.wrapper #close i:hover {
  color: #e74c3c;
}

.wrapper .inputField {
  margin: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
}

.inputField input {
  width: 85%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 10px;
  padding-left: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: inherit;
}

.inputField input:focus {
  border-color: var(--primary-color);
}

.inputField button {
  width: 30px;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background: #000333;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.inputField button:hover,
.footer button:hover {
  background: 000033;
}

.inputField button.active {
  opacity: 1;
  pointer-events: auto;
}

.wrapper .todoList {
  max-height: 100px;
  overflow-y: auto;
}

.todoList li {
  position: relative;
  list-style: none;
  margin-bottom: 2px;
  border-radius: 3px;
  padding: 2px 2px 2px 2px;
  cursor: default;
  overflow: hidden;
  word-wrap: break-word;
  background: transparent;
  color: #fff;
}

.todoList li .icon {
  position: absolute;
  right: -65px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  width: 10px;
  text-align: center;
  color: #fff;
  padding: 10px 15px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.todoList li:hover {
  color: var(--primary-color);
}

.todoList li:hover .icon {
  right: 0px;
}

.todoList li:hover .icon i:hover {
  color: red;
}

.wrapper .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ccc;
}

.footer button {
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 10px;
  margin-left: 5px;
  background: #000033;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.6;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: inherit;
}

.footer button.active {
  opacity: 1;
  pointer-events: auto;
}

.footer span {
  font-size: 10px;
}

.todo {
  position: absolute;
  right: 50px;
  bottom: 5px;
}

.todo h2 {
  color: #fff;
  font-weight: lighter;
  font-size: 1rem;
  cursor: pointer;
}

.todo h2:hover {
  color: #e74c3c;
}
/*# sourceMappingURL=style.css.map */